<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/foundation.min.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>

            <div class="sticky">
                <nav class="top-bar" data-topbar="" role="navigation" data-options="sticky_on: large">
                    <ul class="title-area">
                        <li class="name">
                            <h1>
                                @Html.ActionLink("Home", "Index", "Home")
                            </h1>
                        </li>
                    </ul>
                    <section class="tob-bar-section">
                        <ul class="right">
                            @Html.ActionLink("Iniciar Sesión","Login","Account", new { @class = "button" })
                        </ul>
                    </section>
                </nav>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p> @DateTime.Now.Date.ToShortDateString() - Sistema Integral de Ingreso</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/foundation.min.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
