<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/foundation.min.css")
        @Styles.Render("~/Content/Layout.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            @Html.Partial("_TopBar")
        </header>
        <section id="body">
            <header>
                @Html.Partial("_HeaderWithLogo")
            </header>
            @RenderBody()
        </section>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/foundation.min.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
