@model SistemaIntegralIngresos.Models.Announcement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Announcement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Observations)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observations)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitialDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitialDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FinalDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FinalDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpecificDays)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SpecificDays)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
